Repository damiangamracy/blog-app-web-site: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --parser scss --write, stylelint --syntax scss --fix

.lintstagedrc:

{
  "*.js": [
    "prettier --write",
    "eslint --fix",
    "git add"
  ],
  "*.scss": [
    "prettier --parser scss --write",
    "stylelint --syntax scss --fix",
    "git add"
  ]
}

pretty code output
  src/App.js
  src/App.scss
Due: prettier --write, eslint --fix, prettier --parser scss --write, stylelint --syntax scss --fix

file structure
  package.json
  src/common/components/Date/DateComponent.js
  src/site/components/Footer/FooterComponent.js
  src/site/components/Footer/FooterContainer.js
  src/site/components/Header/HeaderComponent.js
  src/site/components/Header/HeaderContainer.js
  webpack.config.js
  yarn.lock
Due: prettier --write, eslint --fix

new config format
  .babelrc
  .babelrc.js
  .eslintrc
  .eslintrc.js
  .huskyrc
  .huskyrc.js
  .lintstagedrc.js
  .prettierrc
  .prettierrc.js
  .stylelintrc
  .stylelintrc.js
  .webpackrc.js
  package.json
  webpack.config.js
Due: prettier --write, eslint --fix

new config format
  .webpackrc.js
Due: prettier --write, eslint --fix

new config format
  .eslintignore
  .lintstagedrc.js
  .prettierignore
  .stylelintignore
  .webpackrc.js
  package.json
Due: prettier --write, eslint --fix

new config format
  package.json
Due: none
